# Secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db.env

.env

# Local Chroma database
chroma_db/

# Local data
data/

# Test files
groq_test.py
test_rag.py
rag_llm.py
